@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.grid-item {
    animation: fadeIn 0.5s ease-in-out;
}
body {
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    color: #333;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #404040;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8f94fb;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#bountyModal {
    max-width: 500px;
    width: 100%;
}

.grid-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 80%;
    margin: 0 auto;

}

h1 {
    margin: 0;
    color: white;
}
.grid-item {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.grid-item h2 {
    margin-top: 0;
}

#bountyModal{
    display:none;
    position:fixed; 
    top:50%; 
    left:50%; 
    transform:translate(-50%, -50%); 
    background-color:white; 
    padding:20px; 
    border-radius:10px; 
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
}